.vertical-align {
    display: flex;
    align-items: center;
}

.table > tbody > tr > .middlealign {
    vertical-align: middle;
}
.delete {
    color: #d9534f;
}

.present {
    font-weight: bolder;
}

.comma-list {
    list-style-type: none;
    display: inline;
    padding-left:0;
}
.comma-list li { display: inline }
/* Here's the interesting part: */
.comma-list li:after { content: ", " }
.comma-list li:last-child:after { content: "" }
.at-signup-link {
    display: none;
}